body {
    font-family: sans-serif;
    background-color: #000000;
  }
  
  .file-upload {
    background-color: #2c2c2c;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #21b6c2;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #005e83;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #005358;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #21b6c2;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #005e83;
    border: 4px dashed #ffffff;
    color: #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #129edf;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #464646;
    min-width: 568px;
    box-shadow: 0px 50px 50px 0px rgb(0, 0, 0);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .network-selection-btn {
    width: 600px;
    margin: 0;
    color: #fff;
    background: #21b6c2;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #005e83;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .network-selection-btn:hover {
    background: #005358;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .network-selection-btn:active {
    border: 0;
    transition: all .2s ease;
  }

  .logo{
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .network-btn{
    width: 500px;
    margin: 0;
    color: #fff;
    background: #7610b9;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 35px;
  }
  .network-btn:hover {
    background: rgb(0, 247, 255);
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
    box-shadow: 1px 8px 30px 1px rgb(0, 0, 0);

  }

  input[type=text], select, textarea {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #464646;
    color: #ffffff;
  }

  p, h2, label{
    color: #f2f2f2;
  }